@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Lobster&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass";
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-img {
  width: 50px;
  height: 50px;
  background-color: hsl(211, 17%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
}

img {
  width: 18px;
}

.container {
  width: 450px;
  height: 400px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
  padding: 35px 45px;
  display: flex;
  flex-direction: column;
}

.title {
  color: hsl(0, 0%, 100%);
  margin-top: 25px;
}

.subTitle {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-top: 15px;
}

.btn-all {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 55px;
  height: 55px;
  /* color: hsl(217, 12%, 63%); */
  color: hsl(213, 19%, 18%);
  background-color: hsl(216, 12%, 54%);
  border: none;
  border-radius: 50%;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  border: 2px solid hsl(0, 0%, 100%);
}

.btn-submit {
  height: 45px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 25px;
}

.btn-submit:hover {
  opacity: 0.9;
}

.btn-submit:active {
  color: hsl(25, 93%, 29%);
}

.attribution,
.attribution a {
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.selecionado {
  border: 2px solid hsl(0, 0%, 100%);
}
